In [65]:
import pandas as pd
solar_data = pd.read_csv('solarpower.csv')
solar_data.head()

         date  cum_power
0  2017-01-01    20111.0
1  2017-01-02    20112.0
2  2017-01-03    20115.0
3  2017-01-04    20117.0
4  2017-01-05    20119.0

In [66]:
for i in range(len(solar_data['cum_power'])):
    if solar_data['cum_power'][i] ==  -1:
        solar_data['cum_power'][i] = (solar_data['cum_power'][i-1] + solar_data['cum_power'][i+1])/2
for i in solar_data['cum_power']:
    if i == -1:
        print('a')

/tmp/ipykernel_249476/2846809767.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/tmp/ipykernel_249476/2846809767.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [67]:
round(solar_data['cum_power'].mean(),)

23848

In [68]:
solar_data['day_power'] = solar_data['cum_power'].diff()
solar_data

           date  cum_power  day_power
0    2017-01-01    20111.0        NaN
1    2017-01-02    20112.0        1.0
2    2017-01-03    20115.0        3.0
3    2017-01-04    20117.0        2.0
4    2017-01-05    20119.0        2.0
..          ...        ...        ...
659  2018-10-22    28101.0        6.0
660  2018-10-23    28109.0        8.0
661  2018-10-24    28115.0        6.0
662  2018-10-25    28117.0        2.0
663  2018-10-26    28120.0        3.0

[664 rows x 3 columns]

In [69]:
solar_data['date'] = pd.to_datetime(solar_data['date']).dt.to_period('M')

In [70]:
solar_data

        date  cum_power  day_power
0    2017-01    20111.0        NaN
1    2017-01    20112.0        1.0
2    2017-01    20115.0        3.0
3    2017-01    20117.0        2.0
4    2017-01    20119.0        2.0
..       ...        ...        ...
659  2018-10    28101.0        6.0
660  2018-10    28109.0        8.0
661  2018-10    28115.0        6.0
662  2018-10    28117.0        2.0
663  2018-10    28120.0        3.0

[664 rows x 3 columns]

In [71]:
zen = solar_data.groupby('date',as_index=False)['day_power'].mean()
zen

       date  day_power
0   2017-01   3.233333
1   2017-02   3.714286
2   2017-03  10.774194
3   2017-04  16.300000
4   2017-05  19.000000
5   2017-06  21.500000
6   2017-07  18.129032
7   2017-08  15.064516
8   2017-09  11.533333
9   2017-10   6.419355
10  2017-11   3.233333
11  2017-12   1.161290
12  2018-01   2.064516
13  2018-02   6.928571
14  2018-03   8.709677
15  2018-04  14.633333
16  2018-05  21.032258
17  2018-06  18.766667
18  2018-07  22.000000
19  2018-08  17.096774
20  2018-09  13.866667
21  2018-10   9.000000

In [72]:
import plotly
import plotly.express as px
fig =px.line(
    zen,
    x='date',
    y = 'day_power',
    );
fig.show()

TypeError: Object of type Period is not JSON serializable