In [ ]:
# Импорт библиотеки pandas — при выполнении последовательно всех примеров ниже
# импорт выполняется один раз
import pandas as pd 
# Загружаем данные из файла в переменную, создавая объект DataFrame
countries_data = pd.read_csv('countries.csv', sep=';') 
# Выгружаем данные из DataFrame в CSV-файл и сохраняем файл в папке data
countries_data.to_csv('countries.txt', index=False, sep=' ')

In [ ]:
# Загружаем данные из файла в переменную, создавая объект DataFrame
txt_df = pd.read_table('countries.txt', sep=' ', index_col=['country'])
# Выводим содержимое DataFrame на экран
display(txt_df)

In [ ]:
# Считываем данные из файла с неизвестной кодировкой в переменную, создавая объект DataFrame
data=pd.read_csv('ErrorEnCoding.csv', header=None, encoding_errors='replace') 
# Выводим содержимое DataFrame на экран
display(data)

In [ ]:
# Импортируем субмодуль chardet.universal
from chardet.universaldetector import UniversalDetector

detector = UniversalDetector()

with open('ErrorEnCoding.csv', 'rb') as fh:
    for line in fh:
        detector.feed(line)
        if detector.done:
            break
print(detector.close())

In [ ]:
data = pd.read_table('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv', sep=',')
display(data)

In [ ]:
import pandas as pd
grades = pd.read_excel('grades.xlsx')
display(grades.head())

In [ ]:
data = pd.read_excel('https://github.com/asaydn/test/raw/master/january.xlsx', skiprows=3)
display(data)

In [ ]:
grades = pd.read_excel('grades.xlsx', sheet_name='ML')
display(grades.head())

In [ ]:
data_1 = pd.read_excel('ratings_movies.xlsx',sheet_name=0)
data_2 = pd.read_excel('ratings_movies.xlsx',sheet_name=1)

In [ ]:
print(data_1)
print(data_2)

In [ ]:
data_1.merge(data_2)

In [ ]:
import json
from pprint import pprint

In [ ]:
with open('recipes.json') as f:  
    # Загружаем содержимое открытого файла в переменную recipes  
    recipes = json.load(f)

In [ ]:
cuisine = set()
for i in range(len(recipes)):
    cuisine.add(recipes[i]['cuisine'])
print(len(cuisine))

In [ ]:
pprint(recipes)

In [ ]:
print(cuisine)

In [ ]:

s = dict()
for g in range(len(recipes)):
    if recipes[g]['cuisine'] in s:
        s[recipes[g]['cuisine']] += 1
    else:
        s[recipes[g]['cuisine']] = 1       


print(sorted(s.items(),key = lambda x:x[1],reverse = True)[0])

In [ ]:
import json 
# Импортируем функцию pprint()
from pprint import pprint 
# Импортируем модуль pandas
import pandas as pd 
# Открываем файл и связываем его с объектом "f"
with open('recipes.json') as f: 
    # Загружаем содержимое открытого файла в переменную recipes
    recipes = json.load(f) 
# Создаём объект DataFrame из списка recipes
df = pd.DataFrame(recipes) 
# Выводим на экран первые строки полученного DataFrame
display(df.head())

In [ ]:
all_ingredients = set()
for i in range(len(recipes)):
    all_ingredients.update(recipes[i]['ingredients'])
print(len(all_ingredients))

In [ ]:
def contains(ingredient_list):
    if ingredient_name in ingredient_list:
        return 1
    else:
        return 0

In [ ]:
for ingredient_name in all_ingredients:
    df[ingredient_name] = df['ingredients'].apply(contains)
display(df)

In [ ]:
# Заменяем список ингредиентов в рецепте на их количество 
df['ingredients'] = df['ingredients'].apply(len) 
# Выводим содержимое полученного DataFrame на экран
display(df)

* Напишите код для создания списка ids всех блюд, представленных в датафрейме. Нужны только уникальные значения.

* Порядок id должен совпадать с тем, как они расположены в исходном датафрейме.

* Примечание. Не забудьте импортировать библиотеки и прочитать файл recipes.csv.

In [ ]:
display(recipes)

In [ ]:
import pandas as pd
import json
from pprint import pprint

recipes = pd.read_json('recipes.json')
lst = list()
for i in recipes['id']:
    if i not in lst:
        lst.append(i) 
lst

In [ ]:
# Создаём DataFrame, читаем данные из файла в переменную df
df.to_csv('recipes.csv')

In [ ]:
# Создаём DataFrame, читаем данные из файла в переменную df
df = pd.read_csv('recipes.csv')
df

Напишите код для создания списка id всех блюд, нужны только уникальные значения представленных в DataFrame. Результирующий список занесите в переменную ids.

In [ ]:
id = list()
for i in df['id']:
    if i not in id:
        id.append(i)
id

In [ ]:
import pandas as pd
df = pd.read_csv('recipes.csv')
ingredients = list(df.columns[3:])
ingredients

In [ ]:

import pandas as pd
from pprint import pprint
df = pd.read_csv('recipes.csv')

def make_list(row):
    ingredients = []
    for i in range(len(row)):
        if i == 1:
            ingredients.append(df[i])
    return ingredients  
make_list(df.iloc[1])

In [ ]:
df.iloc[1]

In [ ]:

def make_list(row):
    for i in range(len(row[4:])):
        if row[i] == 1:
          
            ingredients.append(row.index[i])
    return ingredients    
        
make_list(df.iloc[1])

In [ ]:
lst = df.iloc[1].index
lst_1 = []
for i in lst[4:]:
    if df.loc[1][i] == 1:
        lst_1.append(i)
print(lst_1)

In [ ]:
import pandas as pd
from pprint import pprint
df = pd.read_csv('recipes.csv')
def make_list(row):
    ingredients = []
    lst = row.index
    for i in lst[4:]:
        if row[i] == 1:
            ingredients.append(i)
    return ingredients 
make_list(df.iloc[1])

In [32]:
import xml.etree.ElementTree as ET
tree = ET.parse('menu.xml')

<xml.etree.ElementTree.ElementTree object at 0x7f81793400d0>

In [33]:
root = tree.getroot()
display(root)

In [34]:
display(type(root))

xml.etree.ElementTree.Element

In [35]:
display(list(root))

In [36]:
display(list(root[1]))

[<Element 'price' at 0x7f8178574db0>,
 <Element 'weight' at 0x7f8178575d00>,
 <Element 'class' at 0x7f8178577f10>]

In [45]:
display(root[1].attrib)

{'name': 'Греча'}

In [51]:
display(root[0][0])

In [58]:
display(root.tag)

'menu'

In [57]:
for dish in root:
    print(dish)
    for param in dish:
        print(dish.attrib['name'], param.tag, param.text)
    print()

<Element 'dish' at 0x7f8178577830>
Кура price 40
Кура weight 300
Кура class Мясо

<Element 'dish' at 0x7f81785775b0>
Греча price 20
Греча weight 200
Греча class Крупа

In [62]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]})
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']

countries_df

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [65]:
import xml.etree.ElementTree as ET
tree = ET.parse('menu.xml')
root = tree.getroot()

import pandas as pd
column_names = ['name', 'price', 'weight', 'class']
df_list = []

for dish in root:
    row = [dish.attrib['name'], dish[0].text, dish[1].text, dish[2].text]
    df_list.append(row)
df = pd.DataFrame(df_list, columns=column_names)
display(df)

    name price weight  class
0   Кура    40    300   Мясо
1  Греча    20    200  Крупа

In [66]:
import xml.etree.ElementTree as ET

new_root = ET.Element('menu')
display(new_root)

In [67]:
dish1 = ET.SubElement(new_root, 'dish', name='Кура')

dish2 = ET.SubElement(new_root, 'dish', name='Греча')

display(list(new_root))

In [68]:
price1 = ET.SubElement(dish1, "price").text = "40"
weight1 = ET.SubElement(dish1, "weight").text = "300"
class1 = ET.SubElement(dish1, "class").text = "Мясо"
display(list(dish1))

price2 = ET.SubElement(dish2, "price").text = "20"
weight2 = ET.SubElement(dish2, "weight").text = "200"
class2 = ET.SubElement(dish2, "class").text = "Крупа"
display(list(dish2))

[<Element 'price' at 0x7f8178537ec0>,
 <Element 'weight' at 0x7f8178537650>,
 <Element 'class' at 0x7f8178537c90>]

[<Element 'price' at 0x7f817854d8a0>,
 <Element 'weight' at 0x7f8178537600>,
 <Element 'class' at 0x7f81785379c0>]

In [69]:
for dish in new_root:    
    for param in dish:
        print(dish.attrib['name'], param.tag, param.text)
    print()

Кура price 40
Кура weight 300
Кура class Мясо

Греча price 20
Греча weight 200
Греча class Крупа

In [70]:
new_root_string = ET.tostring(new_root)

with open("new_menu.xml", "wb") as f:
    f.write(new_root_string)

In [71]:
ET.ElementTree(new_root).write('new_menu_good.xml', encoding="utf-8")