In [4]:
import pandas as pd
student_data= pd.read_csv('data/students_performance.csv', sep=',')

In [6]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
student_data.shape[0]

In [8]:
student_data.loc[155,'writing score']

88

In [11]:
student_data.describe(include = 'object')

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

In [12]:
student_data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [ ]:
student_data.info()

In [14]:
student_data['math score'].mean()

66.089

In [15]:
student_data['race/ethnicity'].value_counts(normalize = True)

race/ethnicity
group C    0.319
group D    0.262
group B    0.190
group E    0.140
group A    0.089
Name: proportion, dtype: float64

In [17]:
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

In [1]:
student_data[student_data['math score'] == 0].shape[0]

NameError: name 'student_data' is not defined

In [23]:
lunch_standart = student_data[student_data['lunch'] == 'standard']['math score'].mean()
lunch_free = student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()
print(lunch_standart,lunch_free)

70.03410852713178 58.92112676056338

In [ ]:
student_data[student_data['parental level of education'] == "bachelor's degree"]
student_data['parental level of education'].value_counts(normalize = True)

In [31]:
median_A = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mean_C = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
median_A - mean_C

-5.827586206896555